/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file

.cm-s-ipython span.cm-number { color: #35a4a1;} 
.cm-s-ipython span.cm-operator {color: #e22929; font-style: normal;}
*/

.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

*{
    line-height:22px; // Tweak till happy
}

.cm-s-ipython span.cm-comment {font-style: normal;}
